<%-include("../components/head.ejs")%>

  <body>

    <%-include("../components/nav.ejs")%>
    <main>
      <h1>Ingresar <%= title %></h1>

      <form class="formEntidad" action method="post">

        <label id="titulo">Título
          <input type="text" name="titulo" required>
        </label><br>

        <label id="anio">Año
          <input type="number" name="anio" required>
        </label><br>

        <label id="duracion">Duración
          <input type="number" name="duracion" required>
        </label><br>

        <div>
          <label id="id_clasificacion">Clasificación</label><br>
            <% if(clasificaciones_list.length > 0) { %>
              <% clasificaciones_list.forEach((cl, i) => { %>

                <label>
                  <%= cl.nombre %>
                  <input type="radio" value="<%= cl.id_clasificacion %>" name="id_clasificacion">
                </label><br>

              <% }); %>
            <% } else { %>
              <p>No hay Clasificaciones para asignar</p>
            <% } %>
        </div>

        <div>
          <label id="categorias">Categorías</label><br>
            <% if(categorias_list.length > 0) { %>
              <% categorias_list.forEach((c, i) => { %>

                <label>
                  <%= c.nombre %>
                  <input type="checkbox" value="<%= c.id_categoria %>" name="categorias">
                </label><br>

              <% }); %>
            <% } else { %>
              <p>No hay Categorías para asignar</p>
            <% } %>
        </div>

        <input type="submit">

      </form>
    </main>
  </body>

  <%-include("../components/footer.ejs")%>