<%-include("../components/head.ejs")%>
  <body>

    <%-include("../components/nav.ejs")%>
    <main>
      <h1><%= title %></h1>

      <% if(asientos_list.length <= 0) { %>
        <h2>No hay asientos registrados</h2>
      <% }  %>

      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Administrar</th>
              </tr>
          </thead>
          <tbody>
              <% asientos_list.forEach((a, i) => { %>
                  <tr>
                      <td><%= a.id_asiento %></td>
                      <td><%= a.nombre %></td>
                      <td>    
                        <div class="botonera">
                          <a class="botonera__opcion opcion__editar" href="/asientos/actualizar/<%= a.id_asiento %>" class="button">Editar</a>
                          <form class="botonera__opcion" action="/asientos/eliminar/<%= a.id_asiento %>/?_method=DELETE" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este asiento?');">
                            <input class="opcion__eliminar" type="submit" class="button" value="X">
                          </form>
                        </div>
                      </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
    </main>
  </body>

<%-include("../components/footer.ejs")%>