<%-include("../components/head.ejs")%>

  <body>
    <%-include("../components/nav.ejs")%>
      <main>
        <h1><%= title %>: <%= asiento.nombre %></h1>

        <form class="formEntidad" action="/asientos/editar/<%= asiento.id_asiento %>?_method=PUT"  method="post">

          <label id="nombre">Nombre
            <input type="text" name="nombre" value="<%= asiento.nombre %>" required>
          </label><br>

          <input type="submit"  value="Guardar Cambios">

        </form>
      </main>
  </body>

  <%-include("../components/footer.ejs")%>