<%-include("../components/head.ejs")%>
  <body>

    <%-include("../components/nav.ejs")%>

    <main>
      <h1><%= title %></h1>

      <% if(ventas_list.length <= 0) { %>
        <h2>No hay ventas registradas</h1>
      <% }  %>

      <table>
          <thead>
              <tr>
                  <th>ID de Venta</th>
                  <th>ID de Venta Individual</th>
                  <th>Método de Pago</th>
                  <th>Fecha</th>
                  <th>Producto</th>
                  <th>Precio Unitario</th>
                  <th>Cantidad</th>
                  <th>SubTotal</th>
                  <th>Total</th>
                  <th>Administrar</th>
              </tr>
          </thead>
          <tbody>
              <% ventas_list.forEach((v, i) => { %>
                  <tr>
                    <td><%= v.id_venta %></td>
                    <td><%= v.id_venta_producto %></td>
                    <td><%= v.metodo_pago %></td>
                    <td><%= v.fecha.toLocaleString('es-ES', { dateStyle: 'short', timeStyle: 'short' }) %></td>
                    <td><%= v.producto %></td>
                    <td><%= v.precio_unitario %></td>
                    <td><%= v.cantidad %></td>
                    <td><%= v.subtotal %></td>
                    <td><%= v.total %></td>
                    <td>    
                      <div class="botonera">
                        <a class="botonera__opcion opcion__editar" href="/ventas_productos/actualizar/<%= v.id_venta_producto %>" class="button">Editar</a>
                        <button class="botonera__opcion opcion__eliminar" onclick="eliminarVenta(this, '<%= v.id_venta_producto %>')"> X </button>
                      </div>
                    </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>

      <script>
        async function eliminarVenta(boton, id) {
          if (!confirm('¿Estás seguro de eliminar esta venta?')) return;

          try {
            const response = await fetch(`/ventas_productos/eliminar/${id}`, {
              method: 'DELETE', 
              headers: {
                'Content-Type': 'application/json'
              }
            });

            if (response.ok) {
              const fila = boton.closest('tr'); //eliminar la fila de la tabla sin recargar
              fila.remove();
                    
              const tbody = document.querySelector('tbody');
              if (tbody.children.length === 0) {
                location.reload(); 
              }
            } else {
              alert('Error al eliminar la venta');
            }
          } catch (error) {
            console.error('Error:', error);
            alert('Hubo un problema con la conexión');
          }
        }
      </script>

    </main>

  </body>

<%-include("../components/footer.ejs")%>