<%-include("../components/head.ejs")%>
  <body>

    <%-include("../components/nav.ejs")%>
    <main>
      <h1><%= title %></h1>

      <% if(categorias_list.length <= 0) { %>
        <h2>No hay categorías registradas</h2>
      <% }  %>

      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Administrar</th>
              </tr>
          </thead>
          <tbody>
              <% categorias_list.forEach((c, i) => { %>
                  <tr>
                      <td><%= c.id_categoria %></td>
                      <td><%= c.nombre %></td>
                      <td>    
                        <div class="botonera">
                          <a class="botonera__opcion opcion__editar" href="/categorias/actualizar/<%= c.id_categoria %>" class="button">Editar</a>
                          <form class="botonera__opcion" action="/categorias/eliminar/<%= c.id_categoria %>/?_method=DELETE" method="post" onsubmit="return confirm('¿Estás seguro de eliminar esta categoría?');">
                            <input class="opcion__eliminar" type="submit" class="button" value="X">
                          </form>
                        </div>
                      </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
    </main>
  </body>

<%-include("../components/footer.ejs")%>