<%-include("../components/head.ejs")%>
  <body>

    <%-include("../components/nav.ejs")%>
    <main>
      <h1><%= title %></h1>

      <% if(productos_list.length <= 0) { %>
        <h2>No hay productos registrados</h2>
      <% }  %>

      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
              </tr>
          </thead>
          <tbody>
              <% productos_list.forEach((p, i) => { %>
                  <tr>
                      <td><%= p.id_producto %></td>
                      <td><%= p.nombre %></td>
                      <td><%= p.cantidad %></td>
                      <td><%= p.precio_unitario %></td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
    </main>
  </body>

<%-include("../components/footer.ejs")%>