<%-include("../components/head.ejs")%>
  <body>

    <%-include("../components/nav.ejs")%>
    <main>
      <h1><%= title %></h1>

      <% if(metodos_list.length <= 0) { %>
        <h2>No hay métodos registrados</h2>
      <% }  %>

      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Administrar</th>
              </tr>
          </thead>
          <tbody>
              <% metodos_list.forEach((m, i) => { %>
                  <tr>
                      <td><%= m.id_metodo %></td>
                      <td><%= m.nombre %></td>
                      <td>    
                        <div class="botonera">
                          <a class="botonera__opcion opcion__editar" href="/metodos/actualizar/<%= m.id_metodo %>" class="button">Editar</a>
                          <button class="botonera__opcion opcion__eliminar" onclick="eliminarMetodo(this, '<%= m.id_metodo %>')"> X </button> 
                        </div>
                      </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>

       <script>
        async function eliminarMetodo(boton, id) {
          if (!confirm('¿Estás seguro de eliminar este método?')) return;

          try {
            const response = await fetch(`/metodos/eliminar/${id}`, {
              method: 'DELETE', 
              headers: {
                'Content-Type': 'application/json'
              }
            });

            if (response.ok) {
              const fila = boton.closest('tr'); //eliminar la fila de la tabla sin recargar
              fila.remove();
                  
              const tbody = document.querySelector('tbody');
              if (tbody.children.length === 0) {
                location.reload(); 
              }
            } else {
              alert('Error al eliminar el método \n Posiblemente tenga relación con otra entidad');
            }
          } catch (error) {
            console.error('Error:', error);
            alert('Hubo un problema con la conexión');
          }
        }
      </script>

    </main>
  </body>

<%-include("../components/footer.ejs")%>