<%-include("../components/head.ejs")%>
  <body>

    <%-include("../components/nav.ejs")%>
    <main>
      <h1><%= title %></h1>

      <% if(metodos_list.length <= 0) { %>
        <h2>No hay métodos registrados</h2>
      <% }  %>

      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Administrar</th>
              </tr>
          </thead>
          <tbody>
              <% metodos_list.forEach((m, i) => { %>
                  <tr>
                      <td><%= m.id_metodo %></td>
                      <td><%= m.nombre %></td>
                      <td>    
                        <div class="botonera">
                          <a class="botonera__opcion opcion__editar" href="/metodos/actualizar/<%= m.id_metodo %>" class="button">Editar</a>
                          <form class="botonera__opcion" action="/metodos/eliminar/<%= m.id_metodo %>/?_method=DELETE" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este método?');">
                            <input class="opcion__eliminar" type="submit" class="button" value="X">
                          </form>
                        </div>
                      </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
    </main>
  </body>

<%-include("../components/footer.ejs")%>