<%-include("../components/head.ejs")%>

  <body>

    <%-include("../components/nav.ejs")%>
    <main>
      <h1><%= title %> <%= entrada.id_entrada %></h1>

      <form class="formEntidad">

        <% if(entrada.id_venta) { %>
          <label>Venta Origen: #<%= entrada.id_venta %></label>
        <% } %>
        
        <div>
          <label for="id_funcion">Elige una Función</label><br>
          <% if(funciones_list.length > 0) { %>
            <select name="id_funcion" id="id_funcion">
              <% funciones_list.forEach((f) => { %>
                <option value="<%= f.id_funcion %>" 
                  <%= f.id_funcion == entrada.id_funcion ? 'selected' : '' %>>
                  <%= f.titulo %> - <%= f.fecha_hora.toLocaleString('es-ES', { dateStyle: 'short', timeStyle: 'short' }) %>
                </option>
              <% }); %>
            </select>
          <% } %>
        </div>

        <br>

        <div>
          <label for="id_asiento">Elige un Asiento</label><br>
          <% if(asientos_list.length > 0) { %>
            <select name="id_asiento" id="id_asiento">
              <% asientos_list.forEach((a) => { %>
                <option value="<%= a.id_asiento %>" 
                  <%= a.id_asiento == entrada.id_asiento ? 'selected' : '' %>>
                  <%= a.nombre %>
                </option>
              <% }); %>
            </select>
          <% } %>
        </div>

        <br>

        <label for="precio">Precio Cobrado:</label>
        <input type="number" id="id_precio" step="0.01" name="precio" value="<%= entrada.precio %>">

        <br>

        <button class="formEntidad__submit" type="button" onclick="actualizarEntrada('<%= entrada.id_entrada %>')">Guardar Cambios</button>
      </form>

      <script>
        async function actualizarEntrada(id) {
          const data = {
            id_funcion: document.getElementById('id_funcion').value,
            id_asiento: document.getElementById('id_asiento').value,
            precio: document.getElementById('id_precio').value,
          };

          try {
            const response = await fetch(`/entradas/editar/${id}`, {
              method: 'PUT',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(data)
            });

            const result = await response.json();

            if (response.ok) {
              alert("Entrada actualizada con éxito");
              window.location.href = '/entradas'; // Redirigir a la lista
            } else {
              // Si el servidor responde con 400 mostrar los mensajes de error
              const mensajesError = result.result.join("\n"); 
              alert("Error en la validación:\n" + mensajesError);
            }
          } catch (error) {
            console.error("Error:", error);
            alert("Ocurrió un problema al conectar con el servidor.");
          }
        }
      </script>
     
    </main>
  </body>

  <%-include("../components/footer.ejs")%>
