<%-include("../components/head.ejs")%>

  <body>
    <%-include("../components/nav.ejs")%>
      <main>
        <h1><%= title %>: <%= usuario.email %></h1>

        <form class="formEntidad" id="formEditarUser">

          <label id="email">Email
            <input type="email" name="email" value="<%= usuario.email %>" id="email_input">
          </label><br>

          <label id="password">Nueva Contraseña
            <input type="password" name="password" id="password_input">
          </label><br>

          <button class="formEntidad__submit" type="button" onclick="actualizarUsuario('<%= usuario.id_usuario %>')">Guardar Cambios</button>

        </form>
        
        <script>
          async function actualizarUsuario(id) {
            const data = {
              email: document.getElementById('email_input').value,
              password: document.getElementById('password_input').value
            };

            try {
              const response = await fetch(`/usuarios/editar/${id}`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
              });

              const result = await response.json();

              if (response.ok) {
                alert("Usuario actualizado con éxito");
                window.location.href = '/usuarios'; // Redirigir a la lista
              } else {
                if (response.status === 409 || typeof result.result === 'string') {
                  alert("Atención: " + result.message);
                } 
                // Si es el array de errores
                else if (Array.isArray(result.result)) {
                  const mensajesError = result.result.join("\n");
                  alert("Errores de validación:\n" + mensajesError);
                } 
                else {
                  alert("Error: " + (result.message || "No se pudo completar la edición de datos"));
                }
              }
            } catch (error) {
              console.error("Error:", error);
              alert("Ocurrió un problema al conectar con el servidor.");
            }
          }
        </script>

      </main>
  </body>

  <%-include("../components/footer.ejs")%>