<%-include("../components/head.ejs")%>

  <body>
    <%-include("../components/nav.ejs")%>
      <main>
        <h1><%= title %>: <%= usuario.email %></h1>

        <form class="formEntidad" action="/usuarios/editar/<%= usuario.id_usuario %>?_method=PUT"  method="post">

          <label id="email">Email
            <input type="email" name="email" value="<%= usuario.email %>" required>
          </label><br>

          <label id="password">Nueva Contraseña
            <input type="password" name="password" required>
          </label><br>

          <input type="submit"  value="Guardar Cambios">

        </form>
      </main>
  </body>

  <%-include("../components/footer.ejs")%>