<%-include("../components/head.ejs")%>
  <body>

    <%-include("../components/nav.ejs")%>

    <main>
      <h1><%= title %></h1>

      <% if(usuarios_list.length <= 0) { %>
        <h2>No hay usuarios registrados</h1>
      <% }  %>

      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Rol</th>
                  <th>Administrar</th>
              </tr>
          </thead>
          <tbody>
              <% usuarios_list.forEach((u, i) => { %>
                  <tr>
                    <td><%= u.id_usuario %></td>
                    <td><%= u.email %></td>
                    <td><%= u.rol %></td>
                    <td>    
                      <div class="botonera">
                        <a class="botonera__opcion opcion__editar" href="/usuarios/actualizar/<%= u.id_usuario %>" class="button">Editar</a>
                        <form class="botonera__opcion" action="/usuarios/eliminar/<%= u.id_usuario %>/?_method=DELETE" method="post" onsubmit="return confirm('¿Estás seguro de eliminar esta sala?');">
                          <input class="opcion__eliminar" type="submit" class="button" value="X">
                        </form>
                      </div>
                    </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
    </main>

  </body>

<%-include("../components/footer.ejs")%>